/* Цвет основного текста #2E2F42 */

/* Вторичный цвет текста,абзацев #434455; */

/* Цвет заголовка героя #FFFFFF */

/* Цвет кнопки #4D5AE5 , Цвет ховера #404BBF */

/* Цвет акцента #E7E9FC */

/* Цвет героя и футтера #2E2F42 */

/* Цвет фона #E5E5E5 */

/* Цвет фона вторичный #F4F4FD */



/* Размеры основного текста : 16рх
line-height: 1.5 множитель*/

/* Размеры вторичных заголовков : 20рх
line-height: 1.2 множитель */



/* Переменные */

:root {
    --primary-text-color: #2E2F42;
    --title-paragrav-color: #434455;
    --acsent-color: #404BBF;
    --button-color: #4D5AE5;
    --button-portvolio-color : #F4F4FD;
}

/* Общий сброс дефолта */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;

    padding-left: 0;
}

img {
    display: block;
}

/* Глобальные стили */

body {
    color: #434455;
    font-size: 16px;
    line-height: 1.5 ;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
}

/* Контейнер */

.container {
    
    width: 1152px;

    padding-left: 12px;
    padding-right: 12px;
    
    margin-left: 156px;
    margin-right: 156px;
    
}

/* Стиль к спискам и ссылкам общий */

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}


/* Логотип в шапке */

.logo {
    color: var(--button-color);
    font-size: 18px;
    line-height: 1.17;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
    font-weight: 800;
    text-transform: uppercase;
    
}
.logo-text {
    color: var(--primary-text-color);

    
}

/* Шапка общая */

.header {
    max-width: 1440px;
    
    
}

.header-flex {
    display: flex;
    align-items: center;
    height: 78px;

    border-bottom: 1px solid #E7E9FC;

    
    
}




/* Навигация по сайту+контактная информация */

.nav-links {
    display: flex;

    padding-left: 0;
    margin-left: 70px;
}

.contact-list {
    display: flex;
    
    margin-left: 332px;
    
}



.contact-list .contact-link {
    color: var(--title-paragrav-color);
    font-weight: 400;
    letter-spacing: 0.02em;
    font-style: normal;
}

.contact-list .contact-item {
    margin-right: 40px;
}

.contact-list .contact-item:last-child {
    margin-right: 0;
}

.nav-links .nav-link {
    color:var(--primary-text-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    font-style: normal;
    }

 .nav-links .nav-item {
    margin-right: 40px;
 }   
.nav-links .nav-item:last-child {
    margin-right: 0px;
}


 



/* Навигация по сайту + контактная информация в ховере*/

.nav-links .nav-link:hover, 
.nav-links .nav-link:focus,
.addres-list .address-link:hover,
.addres-list .address-link:focus,
.contact-list .contact-link:hover,
.contact-list .contact-link:focus {
    color: var(--acsent-color)
}

/* Навигация по сайту+контактная информация в активе */

.nav-links .nav-link:active,
.addres-list .address-link:active,
.contact-list .contact-link:active {
    color: #4D5AE5;
}

/* Контакты */

.contact {
    font-style: normal;
}

/* Стили героя сайта */

.hero { 
    background-color: #2E2F42 ;

    width: 1440px;
    height: 600px;
    text-align: center;
    
    
}

.hero .hero-title  {
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;

    padding-top: 188px;
    padding-bottom: 48px;

    
}

.hero .hero-button {
    color: #ffffff;
    background-color: var(--button-color); 
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    min-width: 169px;
    padding: 16px 32px;
    gap: 10px;
    
}

.hero .hero-button:hover,
.hero .hero-button:focus {

    background-color: #404bbf;
}


/* Стили для кнопок на странице Портфолио*/

.section-galery .meny-button {
    background-color: var(--button-portvolio-color);
    color: var(--button-color);
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 1.5;
}

/* Ховер кнопок страницы Портфлио */

.section-galery .meny-button:hover,
.section-galery .meny-button:focus {
    background-color: var(--acsent-color);
    color: #ffffff;
    
}




/* Общие стили для секций и заголовков */

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}



.section .section-title {
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 1.11;
    font-weight: 500;
    letter-spacing: 0.02em;
    
}

/* Чем мы занимаемся 2-секция 1йстр */

.meny-list {
    display: flex;
    justify-content: space-between;

    margin-top: 72px;
}

.section .section-caption {
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}


/* Секция галерея,оформление заголовков и параграфа */

.section-galery .galery-title {
    color: var(--primary-text-color);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.section-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-paragrav-color);
}

/* Стили к галерее на странице портфолио */



.galery-paragrav {
    color: var(--title-paragrav-color);
    line-height: 1.5;
}
/* Особенности 1-секция */

.features-list {
    display: flex;
    justify-content: space-between;
    
}

.features-list li {
    margin-left: 24px;
}

.features-list li:first-child {
    margin-left: 0px;
}

.features-title {
    font-size: 20px;
    line-height: 1.2;
    color: var(--primary-text-color);
    font-weight: 500;
    letter-spacing: 0.02em;
}



/* CТили для челенов команды 3-Секция*/

.team-list {
    display: flex;
    justify-content: space-between;

    margin-top: 72px;
}

.section-team {
    background-color: #F4F4FD;
}

.team-title {
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.section-team .section-subject {
    color: var(--primary-text-color);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
}


.section-team .team-item {
    background-color: #FFFFFF;
}

/* Стили футтера */

.footer {
    background-color: var(--primary-text-color);
    color: #ffffff;
    width: 1440px;
    height: 312px;
}

/* Логотип футтера */

.footer .logo-footer {
    display: inline-block;
    color: var(--button-color);
    font-size: 18px;
    line-height: 1.17;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
    font-weight: 800;
    text-transform: uppercase;

    padding-left: 156px;
    padding-top: 101.5px;

}

.footer .footer-logo-span {

    color: #f4f4fd;

}

.footer .footer-text {
    padding-top: 15.5px;
    padding-left: 156px;
}
